<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AracKiralama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Veriyolu" connectionString="Data Source=DESKTOP-TSE883Q\SQLEXPRESS;Initial Catalog=TT_AracKiralama" />
  </connectionStrings>
  <appSettings>
    <add key="Email" value="Mail Adresin Buraya Giriniz" />
    <add key="Parola" value="Şifrenizi Buraya Giriniz" />
  </appSettings>
  <userSettings>
    <AracKiralama.Properties.Settings>
      <setting name="KAdi" serializeAs="String">
        <value />
      </setting>
      <setting name="Parola" serializeAs="String">
        <value />
      </setting>
      <setting name="BeniHatirla" serializeAs="String">
        <value>False</value>
      </setting>
    </AracKiralama.Properties.Settings>
  </userSettings>
</configuration>